NODE_ENV=development
POSTGRES_DB=change_me
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
REDIS_PASSWORD=change_me
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
DATA_PROVIDER_API_KEY=your_api_key_here
DATA_PROVIDER_API_URL=CREATE_A_REQUEST_FROM:_https://github.com/TheKingHippopotamus/
