NODE_ENV=development
POSTGRES_DB=change_me
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
REDIS_PASSWORD=change_me
MINIO_ROOT_USER=change_me
MINIO_ROOT_PASSWORD=change_me
DATA_PROVIDER_API_KEY=your_api_key_here
DATA_PROVIDER_API_URL=TO GET THE PROVIDER URL, MESSAGE ME | URL OBTAINED VIA SCRAPING | [https://github.com/TheKingHippopotamus/](https://github.com/TheKingHippopotamus/)

